# BEWARE of any additional dependencies described in the README!

# EOL of 3.10 is planned for 10-2026,
# leaving the required 3 years of time after the project starts.
# python_requires='>=3.10'

# radc-processor\scripts\dataRateCalculator.py: 4
bitmath>=1.3.3.1
# radc-processor\data_parser\plotting.py: 2,3,4
# radc-processor\notebooks\import_helper.py: 5
# radc-processor\notebooks\trigger_verification_notebook.ipynb: 61
# radc-processor\pulse_analysis\pulse_statistics.py: 6
matplotlib>=3.7.2
# radc-processor\notebooks\import_helper.py: 23,25,26
# radc-processor\notebooks\shaper_comparison_notebook.ipynb: 4,13
# radc-processor\notebooks\trigger_verification_notebook.ipynb: 15
nd-measurement-interfaces>=0.9.0
# radc-processor\data_parser\dataFrame_helpers.py: 5
# radc-processor\notebooks\import_helper.py: 62
# radc-processor\pulse_analysis\pulse_calculations.py: 4
# radc-processor\pulse_analysis\pulse_statistics.py: 5
numpy>=1.24.4
# radc-processor\baseline_analysis\aggregate_data.py: 6
# radc-processor\baseline_analysis\statistics.py: 1
# radc-processor\data_parser\dataFrame_helpers.py: 4
# radc-processor\data_parser\data_io.py: 1
# radc-processor\data_parser\plotting.py: 1
# radc-processor\notebooks\import_helper.py: 4
# radc-processor\pulse_analysis\pulse_statistics.py: 7
pandas>=2.0.3
# radc-processor\notebooks\import_helper.py: 32,33
PyVISA>=1.13.0
# radc-processor\data_parser\configuration.py: 4
PyYAML>=6.0.1
# radc-processor\notebooks\import_helper.py: 44,45
# radc-processor\notebooks\peak_finding.ipynb: 2,90
# radc-processor\notebooks\trigger_verification_notebook.ipynb: 63
# radc-processor\pulse_analysis\pulse_finding\with_scipy.py: 6
# radc-processor\pulse_analysis\pulse_statistics.py: 4
scipy>=1.11.2