body{
    background-color: lightblue;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: navy;
    text-align: center;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: navy;
    text-align: center;
}


div {
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-family: Tahoma, Verdana, sans-serif;
    padding: 10px;
}
.container {
    background-color:#2E4272;
    display:flex;
}
.fixed {
    background-color:#4F628E;
    /* width: 1200px;
    height: 550px; */
}
.flex-item {
    background-color:#7887AB;
    flex-grow: 1;
    /* height: 550px; */
}

table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: auto;
    margin-right: auto
}
table td {
	padding: 15px;
}
table thead td {
	background-color: #281af4;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #144f98;
}
table tbody td {
	color: #636363;
	border: 1px solid #0d0f10;
}
table tbody tr {
	background-color: #5fbde0;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

img {
    margin-left: auto;
    margin-right: auto
}