<!DOCTYPE html>

<html>

<head>
  <title>ALMOND Slow control</title>

  <meta charset="utf-8" />
  <!--It is necessary to use the UTF-8 encoding with plotly graphics to get e.g. negative signs to render correctly -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="/home/mnd/Software/radc-processor/slow_control/style.css">

</head>


<body>

  <h1>{{title}}</h1>

  {{topbar}}


  <section class="container">
    <div class="fixed">
      <img src="/home/mnd/Desktop/slowControl/images/hCountsPerChannel.png" alt="Counts per channel">
    </div>
    <div class="fixed">{{ fig }}</div>
  </section>

  <section class="container">
    <div class="fixed">
      <div class="fixed">{{ fig_trigger }}</div>
    </div>
    <div class="fixed">{{ fig_comp }}</div>
  </section>


  <h2>Last datasets</h2>

  {{table}}


</body>

</html>